.SeeQuestion{
    
    .s-cardQuestion{
        color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        gap: 15px;

        .s-title{
            font-size: 23px;
        }
    
        .s-cntDescription{
            font-size: 15px;
            text-align: justify;
            letter-spacing: 0.5px;
            line-height: 20px;
        }
    }

}