.EditorCom{
    .p-editor-container .p-editor-toolbar.ql-snow{
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .p-editor-container .p-editor-content.ql-snow {
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .ql-snow .ql-editor pre.ql-syntax{
        background: #ededeb;
        color: #eb6968;
    }
}