.CardForm{
    width: 480px;
    height: 490px;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    // position: absolute;
    // top: calc(50% - 40vh);
    // left: calc(50% - 20vw);

    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .cnt-btns{
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        .disabledBtn{
            pointer-events: none;
            opacity: 0.5;

            &.enabledBtn{
                pointer-events: all;
                opacity: 1;
            }
        }
    }
}