.MainView_{

    .m_mainCard{
        min-height: calc(100vh);
    }

    .m-cntQuestion{
        display: flex;
        flex-direction: column;
        gap: 15px;

        .cnt-button{
            display: flex;
            justify-content: flex-end;

            .btn-question{
                width: 200px;
                height: 40px;
            }
        }

        .m-cards{
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            gap: 15px;

            .m-texts{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // flex-direction: column;
                gap: 7px;

                .m-title{
                    font-size: 22px;
                    color: #162B4E;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                .m-date{
                    color: rgba(0, 0, 0, 0.5);
                }
            }


            .m-tagFooter{
                width: 100%;
                display: flex;
                gap: 10px;
    
                .m-tags{
                    background: #009f2b;
                    border-radius: 3px;
                    padding: 8px;
                    color: #fff;
                    font-weight: 300;
                    cursor: default;
                }
            }
        }

    }
}